body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(192, 228, 11);
  background: linear-gradient(
    90deg,
    rgba(192, 228, 11, 1) 0%,
    rgba(213, 213, 6, 0.8) 35%,
    rgba(211, 255, 0, 0.3) 100%
  );
}
